*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.front_page{
    height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 3vw;
}

.nav-menu{
    display: flex;
    gap: 60px;
    align-items: center;
}
.nav-menu a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
}

.logo{
    width: 110px;
    height: 30px;
}

.btn-contact{
    color: black;
    font-family: 'Barlow', sans-serif;
    border-radius: 20px;
    background-color: white;
    padding: 13px 22px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
}

.btn-contact:hover{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.361);
    color: white;
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.heading_creative{
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 10vh;
    font-size: 55px;
    line-height: 69px;
    letter-spacing: 5px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color:hsl(0, 0%, 100%);
}

.arrow{
    display: flex;
    justify-content: center;
}

.arrow-down{
    margin: auto;
    cursor: pointer;
    animation: dropdown 2s infinite;
}


@keyframes dropdown {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 100px;
    }
    100% {
      margin-top: 0;
    }
  }


  /* main */

.texts_photo{
    display: flex;
}

.texts_photo img{
    width: 50%;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    padding-left: 8%;
    padding-right: 3%;
    width: 50%;
}

.texts_heading{
    font-size: 45px;
    line-height: 55px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.texts_paragraph{
    padding-right: 8%;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Barlow', sans-serif;
    color: hsl(232, 10%, 55%);
}

.learn_more{
    position: relative;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    color: hsl(212, 27%, 19%);
    cursor: pointer;
}

.bg_color{
    border: 4px solid #fff2bc;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    width: 28%;
    bottom: 2px;
    left: -6px;
}

.learn_more:hover .bg_color{
    border-color: hsl(51, 100%, 49%);
    transition: 0.5s;
}

.red{
    border: 4px solid #ffdad3;
}

.learn_more:hover .red{
    border-color: hsl(7, 99%, 70%);
    transition: 0.5s;
}

/* photos bg */

.photos_bg{
    display: flex;
}

.cherry{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    color: hsl(167, 40%, 24%);
}

.orange{
    background-image: url(./images/desktop/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    color: hsl(198, 62%, 26%);
}

.photo_bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 300px;
    padding-bottom: 50px;
}

.photo_bg h3{
    font-family: 'Fraunces', serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
}

.photo_bg p{
    padding: 0 100px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 26px;
}

/* revies */

.reviews{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 13vh;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: center;
}

.reviews_heading{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 36px;
    color: hsl(210, 4%, 67%);
    letter-spacing: 5px;
}

.review_clients{
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 7vw;
    gap: 40px;
    margin-bottom: 10vh;
}

.client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.client img{
    border-radius: 50%;
    margin-bottom: 7vh;
    transform: scale(0.6);
}

.client p{
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    color: hsl(232, 10%, 55%);
    line-height: 26px;
    margin-bottom: 7vh;
    font-weight: bolder;
}

.client h4{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 28px;
    color: hsl(212, 27%, 19%);
    padding-bottom: 10px;
}

.client h6{
    font-size: 15px;
    color: hsl(210, 4%, 67%);
    font-family: 'Barlow', sans-serif;
    line-height: 25px;
}

.imgs{
    display: flex;
}

.imgs img{
    width: 25%;
}

/* footer */
 .footer{
    background-color: #90d4c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vh 0 4vh 0;
 }

 .footer img{
    margin-bottom: 6vh;
 }

 .footer-menu{
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 15px;
 }

 .footer-menu a{
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: hsl(168, 34%, 41%);
 }

 .logos{
    margin-top: 15vh;
    display: flex;
    gap: 30px;
    cursor: pointer;
 }